/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.ai
fontawesome
.vagrant
.DS_Store
**/.DS_Store
.vscode/
.idea/

# mesh-src folders:
/mesh-src/README.md