// -----------------------------------------------------------------------------
// _header.scss
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

header.primary {
	height: 65px;

	position: fixed;
	width: 100%;
	z-index: 9999;
	background: $white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: $primary;

	@include media-tab {
		height: $header-height;
	}

	&.home {
		background: transparent;
		border-bottom: none;

		@include media-tab {
			//border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
	}

	.logo-cont {

		.logo {
			width: 45px;
		}
	}

	nav.primary {
		ul {
			list-style-type: none;

			li {
				font-size: 14px;
			}

			a {
				color: $white;

				&:hover {
					color: $purple;
				}
			}

			.download {
				padding: 10px 40px;

				svg {
					width: 18px;
					height: auto;
					max-height: 20px;

					path {
						fill: $white;
					}
				}

				&:hover {
					svg path {
						fill: $white;
					}
				}
			}
		}
	}
}

.header-spacer {
	height: $header-height;
}
